.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  max-width: rem(520px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}

.buttons {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    width: 100%;
  }
}

.image {
  width: rem(568px);
  height: rem(804px);
  aspect-ratio: 568 / 804;
  border-radius: var(--mantine-radius-md);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    width: 100%;
    height: auto;
    max-width: rem(420px);
    margin: calc(var(--mantine-spacing-xl) * 2) auto 0 auto;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.signupText {
  @media (max-width: $mantine-breakpoint-xs) {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
  }
}