.preview {
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-bottom: var(--mantine-spacing-xs);
  border: rem(1px) dashed
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  border-radius: var(--mantine-radius-xs);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  background: repeating-linear-gradient(
    180deg,
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) 0,
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) 8px,
    transparent 8px,
    transparent 18px
  );
}

.mobilePreview {
  width: 100%;
  height: rem(60px);
  border: rem(1px) dashed
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  border-radius: var(--mantine-radius-xs);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin-bottom: rem(4px);
  background: repeating-linear-gradient(
    180deg,
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) 0,
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) 8px,
    transparent 8px,
    transparent 18px
  );
}
